.App-header {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.imag {
  filter: drop-shadow(2px 6px 14px #fff);
  transition: transform .3s ease-in-out;
}

.imag:hover {
  filter: drop-shadow(2px 6px 14px #50d5f3);
  transform: rotate(360deg);
}